select{
    -webkit-appearance: none;
    background: url(select.png) no-repeat  95%  ;
    padding: 10px 30px 10px 15px;

}
.box1{
    padding: 20px 0;
    background-color: #2a6496
}
.box2{
    padding: 5% 0;
    background: #ebebeb;
    position: relative;
}
.box-select{
    position:absolute;
    right:0;
    top: 50%;
    margin-top: -21px
}
input[type=radio] {
    display: none
}
input[type=radio] + span {
    display: inline-block;
    box-sizing: border-box;
    margin-right: 5px;
    margin-bottom: 3px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    border: 1px solid #d7d7d7;
    border-radius: 50%;
}

input[type=radio]:checked + span {
    border: .6rem solid #1d7ad9;
}
.size-number{
    width: 50px;
}